body{
          font-family: 'EB Garamond', serif;
}

.second-carousel{
          background: rgb(157, 155, 204);
          background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%);
}